$blueprint_grid_columns: 10;
$blueprint_grid_width: 50px;

@import "blueprint";

.two-col {
  @include container;
  background-color: #cccccc;
  #header, #footer {
    @include column(8); }
  #sidebar {
    @include column(3); }
  #content {
    @include column(5, true); } }
