!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %script{:type => "text/javascript", :src  => "static/scripts/map.js"}
    %script{:type => "text/javascript", :src  => "http://maps.google.com/maps/api/js?sensor=false&language=en"}
    %script{:type => "text/javascript", :src  => "http://www.google.com/jsapi"}
    %script{:type => "text/javascript"}
      google.load("jquery", "1.4.2");
    %script{:type => "text/javascript", :src  => "static/scripts/messages.js"}
    %title
      Locopoly
    /
      Framework CSS
    %link{ :href => "static/styles/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "static/styles/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
    /
      [if IE]><link rel="stylesheet" href="static/styles/ie.css" type="text/css" media="screen, projection"><![endif]
  %body.blueprint{ :onload => 'initialize_map()'} 

    #header
      .container
        %h1 
          %a.header-link(href="index.html") Locopoly

    #content
      #map-container
        #map-canvas
      #sidebar
        #text-holder.emph
          %p
            Signed in as 
            %span.bold @dudarev

          %p
            Spread the word by tweeting:

          %p.italic
            "I want to play http://www.locopoly.com"

          %p
            %button{ :onclick => "showProgress()"}
              Tweet

          %p#progress-message
            Tweeting...

          %p#success-message
            Success! Thanks for tweeting.

          %p#error-message
            Error while tweeting.

    #footer
      .container
        %ul.footer
          %li.extra-margin
            %a(title="title" href="about.html") About
          %li
            Languages:
          %li
            %a(title="en" href="index_en.html") English
          %li
            %a(title="ru" href="index_ru.html") Русский
