<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ _('Locopoly') }}</title>
    <link type="image/x-icon" href="/img/favicon.ico" rel= "shortcut icon" />
    <link href="/static/styles/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language={{ locale }}"></script>
    <script type="text/javascript" src="/static/scripts/map.js"></script>
</head>

<body id="index" class="home" onload="initialize_map()">

    <div id="top_bar">
        <div id="header" class="container">
            <h1 class="main-title">{{ _('Locopoly') }}</h1>
        </div>
    </div>

    <div id="content" class="container">
        <div id="map-container"> 
            <div id="map_canvas"></div> 
        </div> 
    </div>

    <div id="user-status">
        <p>{% if current_user or auth_session -%}
            {% if current_user -%}
                Signed in as <span class="user_email">{{ current_user.username|e }}</span> |
            {%- endif %} <a href="{{ logout_url }}">Sign out</a>
        {% else %}
            {% if debug -%}
            Hi, there. <a href="/auth/login?continue=%2F">Sign in</a>
            {% else %}
            Hi, there. <a href="/auth/twitter/?continue=%2F">Sign in</a>
            {%- endif %}
        {%- endif %}</p>
    </div>

</body>
</html>
